@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
#practica{
    position: absolute;
    top: 770px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicas{
    position: absolute;
    top: 200px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicat{
    position: absolute;
    top: 1330px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicac{
    position: absolute;
    top: 1890px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicaci{
    position: absolute;
    top: 2448px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicase{
    position: absolute;
    top: 3010px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicasi{
    position: absolute;
    top: 3580px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicaoc{
    position: absolute;
    top: 4140px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practican{
    position: absolute;
    top: 4700px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#practicad{
    position: absolute;
    top: 5260px;
    right: 0px;
    width: 420px;
    height: 500px;
    margin-top: 150px;
}
#video{
    top: 0px;
    width: 600px;
    padding: 15px;
}

#parrafoinc{
    font-size: 12px;
    padding: 0%;
}
#lxlab{
    height: 80px;
    width: 130px;
}